
#div_p_tags {
position: absolute;
    top: 780px;
    left: 20px;
}

.p_tag {

	position: absolute;
	top: 200;
	left: 50;

}



.canvas {
    width: 600px;
    height: 415px;
    border: 3px solid #73AD21;
}

.canvas_absolute {
    position: absolute;
    top: 20px;
    left: 20px;
}

.defaultTextBox {
    padding: 0;
    height: 30px;
    width: 350px;
    text-align: left;
    padding-right: 10px;
    left: 10px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}

.tbw {
    width: 50;
}

.Textbox_pos01 {
    position: absolute;
    top: 450px;
    left: 20px;
}

.Textbox_pos02 {
    position: absolute;
    top: 480px;
    left: 20px;
}

.Textbox_pos03 {
    position: absolute;
    top: 510px;
    left: 20px;
}

.Textbox_pos04 {
    position: absolute;
    top: 540px;
    left: 20px;
}

.Textbox_pos05 {
    position: absolute;
    top: 570px;
    left: 20px;
}

.default_button {
    font-size: 16px;
}

.table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4em;
    background-color: #F0F0F0;
    text-align: left;
    font-size: 12px;
}

.table_pos_01 {
    position: absolute;
    top: 450px;
    left: 380px;
}
